body
{
    background-color: honeydew;
    min-width: 400px;
}
.divForLblInputContainer
{
    width:100%;
    height:70px;
}
.lblForInputAdd
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding:10px;
}
.divForAddInput
{
    float: left;
    width:98%;
    height:35px;
    display: flex;
    background-color:#ffffff;
    border:2px solid #000000;
    border-radius: 5px;
}
.imgForAddInput
{
    padding:2px;
    width: 25px;
    border-style: none;
}
.inputForAdd
{
    width:100%;
    border-style:none;
    padding:5px;
    font-size: 15px;    
}
.inputForAdd:focus
{
    outline: none;
}


.DisplayAddressList
{
    z-index: 1;
    top:10%;
    position:fixed;
    height:500px;
    width:100%;
    background-color: #0000006e;
}
.letslbl
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 300;
}
.letsdiv
{
   text-align: center;
}
/* ------------------------------------Address fill Container ------------------------------*/
.divForAddFillCon
{
    position: relative;
    margin: 0 auto;
    top:2.5%;
    height:95%;
    width:95%;
}
.divForAddConInPart
{
    position: relative;
    height:100%;
    width:80%;
    background-image:url("src/couriar_cover.png");
    margin: 0 auto;
    border-radius: 5px;
}
.divForAdd
{   
    margin:0 auto;  
    height:100%;
    width:80%;
}
.divForAddContainer
{   
    float:left; 
    width: 40%;
    padding:0% 5%;
    margin: 0 auto;
}
.divForAddlbl
{
    height:15%;
    width:100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 40px;
}
.lblForAddTitle
{
    position: relative;
    top: 20%;
}
.divForAddSubmitbtn
{   float:left; 
    width: 100%;
    margin: 0 auto;
    background-color:#ffffff;
}
.divForConSaveCheck
{
    display: flex;
}
.checkboxForSaveCon
{
    border-color:2px solid #000000;
    background-color: #ffffff;
}
.lblForSaveContact
{
    flex: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 100px;
}

.divForConCont
{
    float: right;
    margin:5px;
    position: relative;
    display: flex;
    height:40px;
    width:140px;
    border-radius: 5px;
    border: 1px solid #000000;
    background-color: #ffffff;
}
.btnForCont
{
    flex: 1;
    height:100%;
    width:40%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #000000;
}
.imgForContBtn
{
    position: absolute;
    height: 100%;
    width:15%;
    left:3px;
}
.contacts_form
{
    
    margin :0 auto;
    width:500px;
    background-color: aliceblue;
    position: relative;
    top:5%;
    height:90%;
    border-radius: 5px;
}
.contacts_search
{
    margin:0 auto;
    display:flex;
    width:99.5%;
    height:40px;
    background-color:#ffffff;
    display:flex;
    border:2px solid #000000;
    border-radius: 5px;
}
.search_box
{
    width:90%;
    border-style: none;
    border-radius: 5px;
    padding-left:10px;
    font-size: 20px;
}
.search_icon
{
    flex:1;
    width:25px;
    padding:5px;
}
.search_box:focus
{
    outline: none;
}
.search_list
{
    width:100%;
    height:90%;
    background-color: white;
    overflow-x: hidden;
    overflow-y: scroll;
    
}
.contact_display
{
    width:100%;
    height:13%;
    background-color: aliceblue;
    display: block;
    padding:2px;
    border-bottom: 1px black solid
}
.contact_display:hover
{
    background-color:#aa5b43;
}
.name_title
{
    width:100%;
    height:50%;
    font-family: Arial, Helvetica, sans-serif;

}
.name_span
{
    font-weight: 700;
    padding-left: 10px;
    font-size: 20px;
}
.add_span
{
    float: right;
    padding-right: 20px;
}
.contact_title
{
    width:100%;
    height:50%;
    font-family: Arial, Helvetica, sans-serif;
}
.phone_span
{
    float:left;
    padding-left:10px;
}
.email_span
{
    padding-left:20px;
}

/* --------------------- main container -------------------------*/
.main-container
{
    background-color: aliceblue;
    height:100%;
}
.detail-fill-container
{
    background-color: #fff;
    width: 90%;
    margin:0 auto;
    height: 1000px;
}
.fill-container
{
    position: relative;
    width:98%;
    height: 70%;
    background-color:#ffffff;
    top:0%;
    margin: 0 auto;
    transform: translate(0%,0%);
    border-radius: 5px;
}
.doc-box
{
    width:48.60%;
    float: left;
    height: 100%;
    background-color:#fff;
    border-radius: 10px;
}
.container-div
{
    float: left;
    width: 0.5%;
    height: 100%;
    background-color: #000000;
}
.add-container
{
    width:90%;
    height:100%;
    margin:0 auto;
}
.input-container
{
    position: relative;
    margin:0 auto;
    top:20%;
    height:11%;
    width:90%;
    background-color: #ffffff;
    transform: translate(0%,-50%);
}
.input-label
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    display:block;
    font-weight: 300;
}
.input-label-span
{
    padding-left: 15%;
}
.input-div
{
    margin:0 auto;
    display:flex;
    width:80%;
    height:50%;
    background-color:#ffffff;
    display:flex;
    border:2px solid #000000;
    border-radius: 5px;
}
.input-box
{
    width:85%;
    border-style: none;
    padding:9px;
    border-radius:5px 0px 0px 5px;
}
.input-box:focus
{
    outline: none;
}
.loc-btn
{
    width:25px;
    flex:1;
    padding: 5px;
    border-style: none;
    border-radius:5px;
    border-radius:0px 5px 5px 0px;
}
.loc-btn:focus{
    outline:none;
}
.or-option
{
    width:100%;
    height:25px;
    background-color: #ffffff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 15px;
}
.opt-btn
{
    width:80%;
    height:65%;
    margin:0 auto;
    display: block;
    background-color: #ffffff;
}
.btn1
{
    height:70%;
    position: relative;
    font-weight: 600;
    top:10%;
    left:5%;
    font-family: Arial, Helvetica, sans-serif;
    float:left;
    text-align: right;
    width:108px;
    /*margin:0px 0px 0px 0%;*/
    border-radius:5px;
    border: 2px solid #000000;
    background-color:#ffffff;
}
.btn2
{
    height:70%;
    position: relative;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    top:10%;
    right:5%;
    float: right;
    text-align: right;
    width:108px;
    margin-right:10px;
    /*margin:0px 0px 0px 0%;*/
    border-radius:5px;
    border: 2px solid #000000;
    background-color:#ffffff;
}
.btn
{
    height:5%;
    position: relative;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    top:0%;
    float: right;
    right:15%;
    outline:none;
    text-align: right;
    width:108px;
    /*margin:0px 0px 0px 0%;*/
    border-radius:5px;
    border: 2px solid #000000;
    background-color:#ffffff;
}
.btn1:focus
{
    outline:none;
}
.btn2:focus{
    outline:none;
    background-color: aqua;
}
.btn-1
{
    width:50%;
}
.main-lbl
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.address-display
{
    position: relative;
    margin:0 auto;
    top:25%;
    border-top: 1px  solid #000; 
    padding-top: 5px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    height:15%;
    width:90%;
    transform: translate(0%,-50%);
}
.address-div
{
    width:90%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-emphasis: wrap;
    word-wrap:break-word;
}
.edit-btn
{
    position: relative;
    height:20px;
    outline: none;
    width:20px;
    top:0;
    float:right;
    padding:0;
    border-style: none;
}
.close-btn
{
    
    position: relative;
    height:20px;
    outline: none;
    width:20px;
    right:5px;
    top:0;
    float:right;
    padding:0;
    border-style: none;
}
/* ------------- Map -------- ----- */
.popup
{
    z-index: 1;
    top:10%;
    position:fixed;
    height:500px;
    width:100%;
    background-color: #0000006e;
}
.indicator
{
    z-index: 1;
    bottom:0;
    position:fixed;
    height:50px;
    width:100%;
    background-color: #ffffff9e;
}
.map
{
    margin:0 auto;
    height:90%;
    top:9%;
    width:90%;
}
@media only screen and (max-width: 400px) {
   
   /* address fill up container-------- */
   .main-container
   {
       height:90%;
   }
    .divForAddContainer
    {   
        float:left; 
        width: 40%;
        padding:0% 5%;
        margin: 0 auto;
        display: contents;
    }
    .detail-fill-container
    {
        background-color: #fff;
        width: 90%;
        margin:0 auto;
        height: 1500px;
    }
    .DisplayAddressList
    {
        top:10%;
        position: absolute;
        height:1000px;
        width:100%;
    }
    .divForAddFillCon
    {
        position: relative;
        margin: 0 auto;
        top:2.5%;
        height: 900px;
        width:99%;
    }
    .doc-box
    {
        width:100%;
        float: none;
        display: block;
        height: 60%;
        background-color: #fff;
    }
    .container-div
    {
        display: block;
        float: left;
        width: 100%;
        height: 0.5%;
        background-color: #000000;
    }
    .fill-container
    {
        position: relative;
        width:98%;
        height: 70%;
        background-color:#ffffff;
        top:10%;
        margin: 0 auto;
        transform: translate(0%,0%);
    }
    .btn1
    {
        left:0;
    }
    .btn2
    {
        right:0;
    }
}   